:root {
	--amarillo: #c4b357;
	--fondo: #ab7bb8; 
}

* {
	margin: 3;
	padding: 3;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}
.logotipo {text-align-last: center;}
.bienvenida {color: var(--amarillo); text-align: center;}
.lista1 {background-color: var(--amarillo); align-items: center; text-align: center; align-content: center;}
.descripción {color: rgb(0, 0, 0);text-align: center; text-decoration-line: var(--amarillo);}
table, td {border:1px solid black;}
  table {width:100%;}
  td {padding:10px;}
  .video {style="display:scroll;position:fixed;top:0px;left:0px;"}
  .nav {background-color: #c4b357;}
  .reseña {background-color: #6257c4; border: 3px solid yellow;}
  .tituloreseña {color: #c4b357; text-align: center;}
  .fichatecnica {text-align: center;}